body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.player-container {
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  max-width: 100%;
}

.cover {
  width: 100%;
  border-radius: 8px;
}

.controls, .sliders {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.playlist-container {
  margin-top: 20px;
  text-align: center;
}

#playlist {
  display: none;
  max-height: 150px;
  overflow-y: auto;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}

#playlist ul {
  list-style: none;
  padding: 0;
}

#playlist li {
  padding: 10px;
  cursor: pointer;
}

#playlist li:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  .player-container, #playlist {
    width: 90%;
  }
}

.volume-container {
  position: relative;
}

#volume-icon {
  font-size: 15px;
  cursor: pointer;
}

#volume-slider {
  position: absolute;
  bottom: 78px;
  left: 30%;
  transform: translateX(-50%) rotate(-90deg); /* Rotate to make it vertical */
  width: 115px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none; /* Hidden by default */
  height: 5px;
}

#volume-slider.visible {
  opacity: 1;
  pointer-events: auto;
}

#progress-slider {
  margin-left: 15px;
  width: 100%;         /* Adjust the width to your preference */
  appearance: none;    /* Ensures consistent style across browsers */
  
  /*reduce thickness of bar*/
  height: 5px;
}

#progress-slider::-webkit-slider-thumb {
  position: relative;
  left: 0%;          /* Forces handle to start from the left */
}